body {
  background-color: white;
}

.photo {
  text-align: center;
}

.one {
  width: 500px;
  font-size: 36px;
  margin: 0px auto;
  text-align: center;
}

.two {
  width: 500px;
  /* height: 0px; */
  margin: 0px auto ;
  background-color: gainsboro;
  text-align: center;
  font-size: 25px;
  border-radius: 20px;
  padding: 50px;

}